:root {
    --light-bg-color: #F4F6F5;
    --light-accent-color: hsla(214, 18%, 67%, 1);
    --brand-color: #FDD327;
    --dark-accent-color: #B32737;
    --dark-bg-color: #233245;
    scroll-behavior: smooth;
    background-color: var(--light-bg-color);
}

.navbar,
.page-footer {
    background-color: var(--brand-color);
    color: var(--dark-bg-color)
}

.page-footer a {
    color: var(--dark-bg-color);
}

.navbar-brand {
    color: var(--dark-bg-color);
    font-weight: 500;
    font-size: 1.5rem;
}

.nav-pills .nav-link.active {
    background-color: var(--dark-bg-color);
}

.navbar-light .navbar-nav .nav-link.active {
    color: var(--light-bg-color);
}

.nav-link {
    transition: transform 0.6s ease-in-out;
}

.brand-img {
    max-width: 120px;
}

@media only screen and (min-width: 655px) {
    .brand-img {
        max-width: 200px;
    }
}

.page-cover-stamp {
    max-height: 170px;
}

.page-cover-stamp-text {
    color: var(--dark-bg-color);
    font-size: 12px;
    font-weight: 500;
    text-align: center;
}

.elismeresek-text {
    color: var(--brand-color);
    font-style: italic;
}

@keyframes appear {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.page-cover-stamp-box {
    opacity: 0;
    animation-name: appear;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}

.page-cover-stamp-box:nth-child(2) {
    animation-delay: 0.7s;
}

@media only screen and (max-width: 320px) {
    .b-overlay {
        overflow: hidden;
    }
}

.page-section:nth-child(odd) {
    background-color: var(--light-bg-color);
    color: var(--dark-bg-color);
}

.page-section:nth-child(even) {
    background-color: var(--dark-bg-color);
    color: var(--light-bg-color);
}

.page-section-title {
    color: var(--brand-color);
    font-size: 3rem;
    font-weight: bolder;
}

.page-content {
    max-width: 900px;
}

.page-cover-title {
    font-size: 160px;
    font-weight: 500;
    color: var(--brand-color);
    margin-left: -0.8rem;
}

.page-cover-content {
    z-index: 100;
}

.bg-shape {
    position: relative;
    background-color: transparent;
}

@media only screen and (min-width: 655px) and (orientation: portrait) {
    .bg-shape::before {
        content: '';
        position: absolute;
        top: 110px;
        left: 50%;
        transform: skewY(-10deg) translate(-50%, -50%);
        width: 100vw;
        height: 350px;
        background: var(--dark-bg-color);
        z-index: 0;
    }
}

@media only screen and (min-width: 768px) and (orientation: portrait) {
    .bg-shape::before {
        content: '';
        position: absolute;
        top: 100px;
        left: 50%;
        transform: skewY(-10deg) translate(-50%, -50%);
        width: 100vw;
        height: 350px;
        background: var(--dark-bg-color);
        z-index: 0;
    }
}

@media only screen and (min-width: 992px) and (orientation: portrait) {
    .bg-shape::before {
        content: '';
        position: absolute;
        top: 75px;
        left: 50%;
        transform: skewY(-10deg) translate(-50%, -50%);
        width: 100vw;
        height: 350px;
        background: var(--dark-bg-color);
        z-index: 0;
    }
}

@media only screen and (min-width: 1024px) {
    .bg-shape::before {
        content: '';
        position: absolute;
        top: 65px;
        left: 50%;
        transform: skewY(-10deg) translate(-50%, -50%);
        width: 100vw;
        height: 350px;
        background: var(--dark-bg-color);
        z-index: 0;
    }
}

@media only screen and (min-width: 1200px) {
    .bg-shape::before {
        content: '';
        position: absolute;
        top: 5%;
        left: 50%;
        transform: skewY(-10deg) translate(-50%, -50%);
        width: 100vw;
        height: 350px;
        background: var(--dark-bg-color);
        z-index: 0;
    }
}

.page-cover-subtitle {
    font-size: 1.6rem;
    color: var(--brand-color);
    margin-top: -1rem;
    margin-bottom: 3rem;
}

.cover-page-text {
    margin-top: -70px;
}

.page-contact-col-bg {
    background-color: var(--dark-accent-color);
    color: var(--light-bg-color);
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.btn {
    text-transform: uppercase;
    box-shadow: 0 2px 2px 0 rgb(153 153 153 / 14%), 0 3px 1px -2px rgb(153 153 153 / 20%), 0 1px 5px 0 rgb(153 153 153 / 12%);
    padding: 12px 30px;
    font-weight: 400;
}

.btn-secondary:active,
.btn-secondary:hover {
    color: var(--light-bg-color);
    background-color: var(--dark-bg-color);
    border-color: var(--dark-bg-color);
}

.button-brand-color {
    color: #fff;
    background-color: var(--brand-color);
    border-color: #dab624;
}

.button-outline-brand-color {
    color: var(--brand-color);
    background-color: transparent;
    border-color: var(--brand-color);
    border-width: 3px;
    font-weight: 700;
}

.button-outline-brand-color:hover,
.button-outline-brand-color:active {
    color: var(--dark-bg-color);
    background-color: var(--brand-color);
    border-color: transparent;
}

@media only screen and (min-width: 655px) and (orientation: portrait) {
    .button-outline-brand-color {
        color: var(--brand-color);
        background-color: var(--dark-bg-color);
        border-color: var(--brand-color);
    }

    .button-outline-brand-color:hover,
    .button-outline-brand-color:active {
        color: var(--dark-bg-color);
        background-color: var(--brand-color);
        border-color: var(--brand-color);
    }
}

@media only screen and (min-width: 1024px) {
    .button-outline-brand-color {
        color: var(--brand-color);
        background-color: var(--dark-bg-color);
        border-color: var(--brand-color);
    }

    .button-outline-brand-color:hover,
    .button-outline-brand-color:active {
        color: var(--dark-bg-color);
        background-color: var(--brand-color);
        border-color: var(--brand-color);
    }
}

.button-light {
    color: var(--light-bg-color);
    background-color: var(--light-accent-color);
}

.button-light-inverted {
    color: var(--light-accent-color);
    background-color: var(--light-bg-color);
    margin-top: 2rem;
}

.contact-subtitle {
    margin-top: -1.5rem;
    margin-bottom: 2rem;
}

p {
    margin-bottom: 0.5rem;
}

.intro-text {
    font-size: 1.15rem;
    color: #7d7d6c;
    font-weight: 500;
}

.contact-facebook-icon {
    font-size: 1.5rem;
    color: #fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.contact-facebook-icon:hover {
    color: #c2ae59;
}

.faq-question {
    color: var(--light-bg-color);
    background-color: var(--dark-bg-color);
    border-color: var(--dark-bg-color);
}

.faq-question:hover,
.btn-info:not(:disabled):not(.disabled):active,
.btn-info:not(:disabled):not(.disabled):active:focus {
    color: var(--light-bg-color);
    background-color: var(--light-accent-color);
    border-color: var(--light-accent-color);
    box-shadow: var(--light-accent-color);
}

.faq-question:focus,
.faq-question:active {
    color: var(--light-bg-color);
    background-color: var(--light-accent-color);
    border-color: var(--light-accent-color);
    box-shadow: var(--light-accent-color);
}

.faq-question.not-collapsed {
    background-color: var(--brand-color);
    border-color: var(--brand-color);
    color: var(--dark-bg-color);
}

.faq-answer {
    color: var(--dark-bg-color);
}

.carousel-caption h3 {
    font-size: 1.3rem;
}

.carousel-inner {
    height: 420px;
}

.carousel-caption {
    color: var(--dark-bg-color);
    background-color: var(--light-accent-color);
    border-radius: 10px;
    padding: 1rem 0.5rem;
    font-size: 14px;
    height: 320px;
    top: 20%;
    overflow: scroll;
}

@media only screen and (min-width: 375px) {
    .carousel-inner {
        height: 420px;
    }
    
    .carousel-caption h3 {
        font-size: 1.5rem;
    }

    .carousel-caption {
        top: 20%;
        height: 350px;
        font-size: 16px;
    }
}

@media only screen and (min-width: 425px) {
    .carousel-inner {
        height: 420px;
    }

    .carousel-caption {
        top: 25%;
        height: 320px;
    }
}

@media only screen and (min-width: 576px) {
    .carousel-inner {
        height: 420px;
    }

    .carousel-caption {
        top: 20%;
        height: 300px;
        overflow: hidden;
    }
}

@media only screen and (min-width: 768px) {
    .carousel-inner {
        height: 370px;
    }

    .carousel-caption {
        top: 18%;
        height: 250px;
    }
}

@media only screen and (min-width: 992px) {
    /* .carousel-slide, */
    .carousel-inner {
        height: 280px;
    }

    .carousel-caption {
        top: 8%;
        height: 200px;
    }
}

.quote-author {
    font-style: italic;
}

.overlay-content {
    transform: translateY(30%);
    background-color: var(--light-bg-color);
}

@media only screen and (min-width: 280px) {
    .overlay-content {
        transform: translateY(20%);
    }
}

@media only screen and (min-width: 300px) {
    .overlay-content {
        transform: translateY(15%);
    }
}

@media only screen and (min-width: 380px) {
    .overlay-content {
        transform: translateY(0%);
    }
}

.b-overlay {
    overflow: scroll;
}

.b-overlay .bg-light {
    background-color: var(--light-bg-color) !important;
}

.b-overlay div.position-absolute {
    width: 100%;
}
