:root {
    --light-bg-color: #F4F6F5;
    --light-accent-color: #9DAABB;
    --brand-color: #FDD327;
    --dark-accent-color: #B32737;
    --dark-bg-color: #233245;
  }

.navbar,
.page-footer{
    background-color: var(--brand-color);
    color: var(--dark-bg-color)
}

.navbar-brand {
    color: var(--dark-bg-color);
    font-weight: 500;
    font-size: 1.5rem;
}

.nav-pills .nav-link.active {
    background-color: var(--dark-bg-color);
}

.navbar-light .navbar-nav .nav-link.active {
    color: var(--light-bg-color);
}

.page-section:nth-child(1) {
    height: 95vw;
}

@media only screen and (orientation: landscape) and (min-width: 700px) {
    .page-section:nth-child(1) {
        height: 95vh;
    }   
}

@media only screen and (orientation: portrait) {
    .page-section:nth-child(1) {
        height: 95vh;
    }   
}

@media only screen and (max-width: 320) {
    .b-overlay {
        overflow: hidden;
    }
}

.page-cover-stamp {
    width: 200px;
    position: relative;
    left: 40px;
    bottom: 25vh;
}

.page-cover-img {
    min-width: 150px;
    position: relative;
    right: 90px;
}

@media only screen and (min-width: 320) {
    .page-cover-stamp {
        width: 200px;
        position: relative;
        left: 55px;
        bottom: 25vh;
    }

    .page-cover-img {
        min-width: 150px;
        position: relative;
        right: 75px;
    }
}

@media only screen and (min-width: 350px) {
    .page-cover-stamp {
        width: 200px;
        position: relative;
        left: 75px;
        bottom: 25vh;
    }

    .page-cover-img {
        min-width: 150px;
        position: relative;
        right: 50px;
    }
}

@media only screen and (min-width: 390px) {
    .page-cover-stamp {
        width: 200px;
        position: relative;
        left: 100px;
        bottom: 25vh;
    }
}

@media only screen and (min-width: 574px) {
    .page-cover-stamp {
        width: 250px;
        position: relative;
        left: 150px;
        bottom: 25vh;
    }

    .page-cover-img {
        min-width: 150px;
        position: relative;
        right: 40px;
    }
}

@media only screen and (min-width: 650px) {
    .page-cover-stamp {
        width: 250px;
        position: relative;
        right: -30vw;
        bottom: 25vh;
    }
}

@media only screen and (min-width: 768px) {
    .page-cover-img {
        position: relative;
        left: 2rem;
        width: 300px;
    }

    .page-cover-stamp {
        width: 250px;
        position: relative;
        left: -100px;
        top: 30vh;
    }
}

@media only screen and (min-width: 992px) {
    .page-cover-stamp {
        width: 275px;
        position: relative;
        left: 350px;
        top: 25vh;
    }
}

.page-cover {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.page-section:nth-child(odd) {
    background-color: var(--light-bg-color);
    color: var(--dark-bg-color);
}

.page-section:nth-child(even) {
    background-color: var(--dark-bg-color);
    color: var(--light-bg-color);
}

.page-section-title {
    color: var(--brand-color);
    font-size: 3rem;
    font-weight: bolder;
}

.page-content {
    max-width: 900px;
}

.page-cover-title {
    font-size: 160px;
    font-weight: 500;
    color: var(--brand-color);
    margin-left: -0.8rem;
}

.page-cover-subtitle {
    font-size: 1.6rem;
    color: var(--brand-color);
    margin-top: -1rem;
    margin-bottom: 3rem;
}

.cover-page-text {
    margin-top: -70px;
}

.page-contact-col-bg {
    background-color:var(--dark-accent-color);
    color: var(--light-bg-color);
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.btn {
    text-transform: uppercase;
    box-shadow: 0 2px 2px 0 rgb(153 153 153 / 14%), 0 3px 1px -2px rgb(153 153 153 / 20%), 0 1px 5px 0 rgb(153 153 153 / 12%);
    padding: 12px 30px;
    font-weight: 400;
}

/* .btn-secondary:not(:disabled):not(.disabled):active { */
.btn-secondary:active,
.btn-secondary:hover {
    color: var(--light-bg-color);
    background-color: var(--dark-bg-color);
    border-color: var(--dark-bg-color);
}

.page-contact-or {
    background-color: var(--dark-bg-color);
    color: var(--light-bg-color);
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    /* margin-left: -36px;
    margin-right: -36px; */
    margin: -36px;
    padding: 16px 80px;
}

.button-brand-color {
    color: #fff;
    /* color: var(--light-bg-color); */
    background-color: var(--brand-color);
    border-color: #dab624;
}

.button-outline-brand-color {
    color: var(--brand-color);
    background-color: var(--light-bg-color);
    border-color: var(--brand-color);
    border-width: 3px;
    font-weight: 700;
}

.button-light {
    color: var(--light-bg-color);
    background-color: var(--light-accent-color);
}

.button-light-inverted {
    color: var(--light-accent-color);
    background-color: var(--light-bg-color);
    margin-top: 2rem;
}

.contact-subtitle {
    margin-top: -1.5rem;
    margin-bottom: 2rem;
}

p {
    margin-bottom: 0.5rem;
}

.intro-text {
    font-size: 1.15rem;
    color: #7d7d6c;
    font-weight: 500;
    /* color: #c2ae59; */
}
.contact-facebook-icon {
    font-size: 1.5rem;
    color: #fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.contact-facebook-icon:hover {
    color: #c2ae59;
}